@using StudentPortal.Models
@model Student

@{
    ViewBag.Title = "AllStudents";
    Layout = "~/Views/Shared/_AdminView.cshtml";
}

@{
    ViewBag.Title = "AllStudents";

    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

@{
    List<SelectListItem> courses = new List<SelectListItem>()
{
        new SelectListItem { Text = "HTML + CSS", Value = "1"},
        new SelectListItem { Text = "JavaScript", Value = "2"},
        new SelectListItem { Text = "jQuery", Value = "3"},
        new SelectListItem { Text = "C#", Value = "4"},
        new SelectListItem { Text = "ASP.NET", Value = "5"}
    };
}

<section class="admin-section-table">
    <h1>Student List</h1>
    @*<div>
            <form action="/Admin/AllStudents" method="post">
                <input type="number" id="page-size" name="test"/>
                <button type="submit" id="submit-btn-pageSize">Submit</button>
            </form>
        </div>*@

    <div>
        <form action="/Admin/AllStudents" method="post">
            <input type="text" id="search-by" name="search-by" />
            <button type="submit" id="submit-btn-search">Submit</button>
        </form>
    </div>
    <div class="container table-responsive">
        <table class="rwd-table">
            <tbody>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Phone NUmber</th>
                    <th>Address</th>
                    <th>Gender</th>
                    <th>Standard</th>
                    <th>Course</th>
                    <th>Action</th>
                </tr>
                @if (Model.oldStudents != null)
                {
                    for (int i = 0; i < Model.oldStudents.Count; i++)
                    {
                        <tr>
                            <td data-th="First Name">@Model.oldStudents[i].FirstName</td>
                            <td data-th="Last Name">@Model.oldStudents[i].LastName</td>
                            <td data-th="Age">@Model.oldStudents[i].Age</td>
                            <td data-th="Email">@Model.oldStudents[i].Email</td>
                            <td data-th="Phone Number">@Model.oldStudents[i].PhoneNumber</td>
                            <td data-th="Address">@Model.oldStudents[i].Address</td>
                            <td data-th="Gender">@Model.oldStudents[i].Gender</td>
                            <td data-th="Standard">@Model.oldStudents[i].Standard</td>
                            <td data-th="Standard">@Model.oldStudents[i].Course</td>
                            <td data-th="Action" class="action">
                                <a href="@Url.Action("Edit","Admin", new {Id = Model.oldStudents[i].Id})" class="action-btn"> <i class="fa fa-edit"></i></a>
                                <button onclick="deleteConfirmation(@Model.oldStudents[i].Id)" class="action-btn"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <div>
            @if (pager.TotalPage > 0)
            {
                <ul class="pagination justify-content-center mt-5 pagination">
                    @if (pager.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Admin/AllStudents?page=@(pager.CurrentPage - 1)">Previous</a>
                        </li>
                    }

                    @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                    {
                        <li class="page-item @(pge == pager.CurrentPage ? "active" : "")"`>
                            <a class="page-link" href="/Admin/AllStudents?page=@pge">@pge</a>
                        </li>
                    }
                    @if (pager.CurrentPage < pager.EndPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Admin/AllStudents?page=@(pager.CurrentPage + 1)">Next</a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</section>

<script>
    //$("#submit-btn-pageSize").click(function () {
    //    $.ajax({
    //        type: "POST",
    //        url: "/Admin/AllStudents",
    //        data: { name: "John", age: 30 }
    //    });
    //})
    function deleteConfirmation(Id) {
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: "Deleted!",
                    text: "Your file has been deleted.",
                    icon: "success",
                });
                setTimeout(() => {
                    window.location.href = `/Admin/Delete/${Id}`
                }, 1000)
            }
        });
    }
</script>

